<main>
  <h1>My History</h1>
  <p class="history-text">
    For my team and me, Destination Imagination was something we never saw
    coming. At the beginning of the year, Engineer Sánchez walked into our
    classroom to share the news. At first, I thought it was something I wouldn't
    be chosen for, but the moment my name was called on the list of students
    representing our university in this challenge, I was overwhelmed with
    excitement. At first, the idea seemed impossible creating a cable car style
    motor? It sounded incredibly ambitious! But we didn't give up. The journey
    was challenging, filled with doubts and hard work, but we always stood
    together, supporting one another every step of the way. The participation of
    Engineer Sánchez, Engineer Bianchi, and our facilitator, Mauricio
    Cambronero, was essential. They constantly motivated us, provided moral
    support, and inspired us to keep pushing forward. Then, the big day arrived.
    As we stepped into the event venue, everything looked amazing. When it was
    finally our turn to present, we were nervous, but we faced the challenge
    with courage and determination as a winning team. I represent the spirit of
    volunteerism in Destination Imagination by embracing teamwork, creativity,
    and a willingness to help others grow. My role is not just about
    contributing to my team's success but also about inspiring and encouraging
    those around me to explore their potential. My impact in Destination
    Imagination comes from my dedication to problem solving, innovation, and
    collaboration. I strive to create an environment where every team member
    feels valued and empowered to contribute their unique strengths.
    Additionally, I actively promote the program to involve more young people,
    showing them how this experience can change the way they approach challenges
    in life. Volunteering isn't just about giving time; it's about making a
    difference. Through Destination Imagination, I aim to leave a lasting impact
    by fostering creativity, supporting my peers, and proving that when we work
    together, we can achieve extraordinary things.
  </p>
  <img
    class="history-img"
    src="/src/img/14.jpg"
    alt="Destination Imagination 7"
  />
</main>
