<main>
  <h1>Why Include More People?</h1>
  <p class="importance-text">
    Including more people in Destination Imagination is essential because this
    project empowers young people to see the world from a different perspective.
    It helps us approach problem-solving in everyday life in a unique and
    creative way. Destination Imagination is not just about creating a project;
    it's about teamwork. It's about exploring within yourself, discovering both
    your strengths and weaknesses, and learning how to work together to support
    and complement one another. Through this experience, we grow not only as
    individuals but as a team, realizing that innovation, collaboration, and
    perseverance can lead to extraordinary results.
  </p>
</main>
