<main>
  <h1>Welcome to my story in Destination Imagination</h1>
  <p class="form-text">
    Discover how this experience has transformed my way of thinking and
    creating.
  </p>

  <div class="carousel-container">
    <div class="carousel">
      <div class="carousel-slide">
        <img src="/src/img/01.jpg" alt="Destination Imagination 1" />
      </div>
      <div class="carousel-slide">
        <img src="/src/img/02.jpg" alt="Destination Imagination 2" />
      </div>
      <div class="carousel-slide">
        <img src="/src/img/03.jpg" alt="Destination Imagination 3" />
      </div>
      <div class="carousel-slide">
        <img src="/src/img/04.jpg" alt="Destination Imagination " />
    </div>
    <button class="carousel-button prev">&#10094;</button>
    <button class="carousel-button next">&#10095;</button>
  </div>
  <div class="form-container">
    <p class="form-text">
      Hello everyone, my name is Alejandro, and I am 19 years old. Together with
      my team, we are participating in the Destination Imagination Experience
      Challenge
    </p>
  </div>
</main>
